#container{
		margin: auto;
		width: 800px;
		height: 605px;
		border: 1px solid;
	}
#body {
		margin: 10px;
	}
.heading {
		margin: auto;
		width: 455px;
    color: #7B63EC;
    padding-bottom: 10px;
}
#drawing {

		border: 1px solid;
		margin: auto;
	}
#clearBtnDiv{
    margin: auto;
    width:80px;
}
#clearBtn{
    color: white;
    font-size: large;
    background-color: #337ab7;
    width: 80px;
}
